*{
    text-decoration: none;
}
body{
    max-width: 1440px;
}
.header {
    display: grid;
    grid-template-columns:
    max-content
    1fr
    max-content;
    align-items: center;
    margin: 92px 49px 92px 51px;

}
/* Все свойства header - начало*/
.header__logo{
    display: flex;
    justify-content: center;
    align-items:start;
}
.header__logo-image {
    width: 148px;
    height: 105px;
}

.header__menu{
    display: flex;
    gap: 31.5px; 
}

.header__link__no__bullit{
    list-style:none;
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }

.header__link{
    list-style:circle;
    text-decoration: underline;
    
    text-underline-offset: 4px;
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }

.address{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px 0px 7px 0px;      
}

.header__link_active{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;    
}
/* Все свойства header - конец */

.overlay{
    
    background-color: rgb(0,0,0,0.6);
    position: absolute;
    z-index:-1;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    
}

.cover{
    min-width: 1440px;
    max-height: 757px;
    padding:0px;
    background-image:url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position:center center;
    background-size: 100% auto;
    position: relative;
    z-index: -2;
   }


   
/* Все свойства cover  - начало*/
.cover__title{
    
    color: #FFF;
    font-family: Raleway;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%; /* 115px */
    letter-spacing: 30px;
    text-transform: uppercase;
    padding: 165px 50px 237px;
    
    
}

.aligned-text{
    display: block;
    letter-spacing: 30px;
    
}

.aligned-text__center{
    text-align: center;
    line-height: 100%;
    padding-top:20px;

}

.aligned-text__right{
    text-align: right;
    line-height: 100%;
    padding-top:20px;

}
.letter-spacing-extended{
    letter-spacing: 60px;
    
}
.no-letter-spacing{
    letter-spacing: 0px;
    
}

.cover__description{
    display: flex;
    justify-content:end;
    align-items: center;
    gap: 78px; 
    position:absolute;
    bottom: 50px;
    left: 422px;
    z-index: 1;
   
  }

.cover__description-text{
    display: block;
    color: #FFF;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
    text-transform: uppercase;
    word-spacing:18px;
    
    
}

.bet-button{
    background: transparent;
    color: #FFF;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    border: 1px solid #FFF;
    padding: 12px 32px;
    
}


/* Все свойства cover - конец */
    


.lots {
    padding: 180px 50px 181px;
    max-width: 1340px;
    max-height: 579px;
    
}

.about {
    padding: 0px 50px 180px;

}




